body{
    background: url(../images/RonSwanson.jpg)center center no-repeat fixed;
    background-size: cover;
}

html{
    width: 100%;
    height: 100%;
}

button{
    height: 5em;
    width: 7em;
    border-radius: 1em;
    background-color: gray;
}

#quote{
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color:brown;
}

#error{
    font-size: 7em;
    color: red;
    font-weight: bolder;
}

footer{
    position: absolute;
    bottom: 1em;
    font-size: 1.5em;
    color:cyan;
}